.row {
  width: 453px;
}

#mostq {
  background: white;
  margin-left: 0px;
  border: 2px black solid;
  padding: 5px;
  height: 453px;
  width: 453px;
}

.row {
  height: 28px;
}

.p {
  float: left;
}

.p,
.m0,
.m1,
.m2,
.m3,
.m4,
.mc1,
.mc2,
.mc3,
.mc4,
.in,
.ing,
.inl {
  width: 28px;
  height: 28px;

  cursor: pointer;
}

.m0 {
  background-color: transparent;
}

.inge {
  animation: blinkin 5s linear infinite;
}

@keyframes blinkin {
  50% {
    opacity: 0.4;
  }
}

.in,
.ing,
.inl {
  font-weight: bolder;
  padding: 0px;
  border: 0px;
  text-align: center;
  font-size: 23px;
  cursor: pointer;
}


.inl {
  background: url(../images/circlel.svg);
}

.p {
  cursor: pointer;
  overflow: visible;
}

input {
  border: 0;
  padding: 0px;
}

.m0 {
  overflow: hidden;
  padding: 0px;
}

.in,
.m1,
.m2,
.m3,
.m4,
.mc1,
.mc2,
.mc3,
.mc4 {
  background-size: 28px 28px;
}

.steps {
  cursor: pointer;
  font-size: 20px;
  color: silver;
  background: black;
  color: silver;
}

#steps {
  width: 600px;
  height: 45px;
  background: black;
  text-align: left;
  overflow: auto;
}

#navLeft,
#navRight {
  cursor: pointer;
  font-size: 14px;

  color: yellow;
  padding: 0px 5px;
}

#navL,
#navR {
  background: black;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 6px;
  color: silver;
  font-weight: bolder;
  padding: 2px 10px;
}

#navA,
#navZ,
#nav0 {
  cursor: pointer;
  font-size: 20px;
  color: white;
}

#innav {
  background: black;
  color: #33ccff;
  font-weight: bolder;
  text-align: center;
  border: 0px;
  border-bottom: 2px ridge blue;
  padding: 0px;
  width: 60px;
  font-size: 16px;
}

#timer {
  display: none;
}

#demoBoardStateButton,
#demoInputsStateButton,
#demoAllStateButton {
  display: none;
  padding: 0px;
  color: black;
  float: left;
}

.imgB {
  width: 28px;
  height: 28px;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

#colorBackground,
#colorBoard,
#colorCircle,
#colorDigit,
#colorTicked,
#colorTickedWrong,
#colorTickedDigit {
  color: red;
}
.colo {
  background-color: transparent;
  width: 38px;
  height: 28px;
  float: left;
  border: 0px;
}

.imgC {
  width: 28px;
  height: 28px;
}

.imgC2 {
  width: 140px;
  height: 28px;
  background-color: wheat;
  border-radius: 5px;
  float: right;
}

.imgC3 {
  width: 28px;
  height: 28px;
  float: left;
  padding-left: 2px;
}

.imgC4 {
  width: 220px;
  height: 28px;
  padding-top: 5px;
}

.butB {
  padding: 2px;
  float: left;
  height: 30px;
}

.clearBoth {
  clear: both;
}

#loadset {
  padding-left: 13px;
}
