@media print {
  #bgColor,
  #bodyColor,
  #islandColor,
  #cirleColor,
  #themeColor,
  #bridgeColor,
  #navigation {
    display: none;
  }

  #MENU_RIGHT,
  #MENU_RIGHT2,
  #contentDescription {
    display: none;
  }
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #c0c0c0;
}

#PAGE {
  text-align: center;
  padding: 0px;
  margin: 10px auto;
  margin-top: 10px;
  font-size: 13px;
  color: #c0c0c0;
}

#CONTENT {
  height: 473px;
  overflow: auto;
  font-size: 14px;
  color: #c0c0c0;
  width: 473px;
  float: left;
  border: 5px solid transparent;
}

#MENU_RIGHT {
  color: #606060;
  overflow: auto;
  width: 200px;
  padding: 5px;
  float: left;
  text-align: center;
}

#MENU_RIGHT2 {
  color: #606060;
  overflow: auto;
  width: 220px;
  padding: 5px;
  float: left;
  text-align: center;
}

#HEADER {
  border: 0px;
  padding: 0;
  width: 100%;
  height: 120px;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
}

#HEADER_LEFT {
  width: 180px;
  height: 20px;
  padding-top: 10px;
  float: left;
  overflow: hidden;
  border: none;
  padding-left: 20px;
  text-align: left;
}

#HEADER_RIGHT {
  width: 500px;
  height: 20px;
  padding-top: 5px;
  float: left;
  text-align: left;
  font-size: 16px;
}

#HEADER_LANG {
  float: right;
  text-align: right;
  width: 50px;
  color: red;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 10px;
}

#HEADER_RIGHT a:active {
  color: #33ffff;
  text-decoration: none;
}

#HEADER_RIGHT a:link {
  color: #33ffff;
  text-decoration: none;
}

#HEADER_RIGHT a:visited {
  color: #33ffff;
  text-decoration: none;
}

#HEADER_RIGHT a:hover {
  color: white;
  text-decoration: none;
}

#FOOTER {
  opacity: 20%;
  padding-top: 0px;
  color: white;
  height: 10px;
  clear: both;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
}

#UNDER_FOOTER {
  clear: both;
  width: 100%;
  background: #800000;
}

#FOOTER a:visited {
  color: yellow;
}

#FOOTER a:link {
  color: yellow;
}

#FOOTER a:active {
  color: yellow;
}

#FOOTER a:hover {
  color: #ccff33;
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

.separator {
  padding: 2px;
  text-align: center;
  color: #606060;
}

#comment {
  width: 45px;
  font-size: 10px;
}

.comments {
  height: 280px;
  overflow: auto;
}

.commentText {
  text-align: left;
  font-size: 12px;
  text-transform: lowercase;
}

.commentAuthor {
  text-align: right;
  font-style: italic;
  font-size: 11px;
  color: orange;
}

#kontakt {
  margin: 50px;
  text-align: left;
  font-weight: normal;
}

#from {
  text-align: right;
  padding-right: 282px;
}

#send {
  text-align: right;
  padding-top: 6px;
  padding-right: 282px;
}

#error {
  color: red;
  padding: 10px;
}

#sent {
  color: #9acd32;
  padding: 10px;
}

#welcome {
  color: gray;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
}

#autograph {
  display: none;
}

#copyright {
  background: black;
  color: gray;
  height: 470px;
  overflow: auto;
  padding: 5px;
  font-family: monospace;
  font-size: 13px;
}

#rightButtonDescription {
  color: #ff3366;
  display: none;
}

#rightButton {
  text-align: center;
  display: none;
}

#clearBoardButton,
#clearInputsButton,
#clearGraysButton {
  text-align: center;
  display: none;
}

#leftButton {
  text-align: center;
  display: none;
}

#contentDescription {
  color: yellow;
  text-align: left;
}

#noscript {
  color: #ff3366;
  font-variant: small-caps;
  padding: 20px;
}

#rightDemoDescription {
  display: none;
}

#latestVersion {
  font-size: 12px;
  color: yellow;
}

#earlierVersions {
  font-size: 12px;
  color: gray;
}

#earlierVersions a:link,
#earlierVersions a:active {
  color: #686868;
}

#earlierVersions a:visited {
  color: #484848;
}

#earlierVersions a:hover {
  color: #989898;
}

.menuDescription {
  clear: both;
  text-align: left;
  padding: 5px;
  padding-top: 5px;
}

.image {
  float: left;
  width: 180px;
}

.imageDesc {
  font-size: 12px;
  float: left;
  width: 380px;
  padding-left: 5px;
  padding-top: 5px;
}

.mouseDescription {
  font-size: 11px;
  text-align: left;
}

.digit {
  float: left;
  padding: 2px;
}

#description {
  width: 580px;
  text-align: justify;
}

.description {
  width: 580px;
  text-align: justify;
}

.descriptionHalf {
  width: 270px;
  float: left;
  color: yellow;
}

#oranging {
  color: orange;
}

#mainDescription {
  text-align: justify;
}

.none {
  display: none;
}

#samples {
  text-align: center;
  font-size: 0px;
}

#GameChoose:hover {
  background-color: rgb(17, 136, 23);
}
#GameChoose {
  background-color: rgb(17, 136, 23);
  border-radius: 20px;
  color: white;
}
#GameMinus,
#GamePlus {
  background-color: gray;
  font-weight: bolder;

  width: 50px;
  height: 30px;
  width: 50px;
}
#GameNumber {
  width: 50px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: mediumaquamarine;
  border-color: mediumaquamarine;
}
#GamePlay {
  height: 30px;
  width: 50px;
  background-color: rgb(76, 135, 245);
  color: white;
}
#GameSolve {
  background-color: gray;
  height: 30px;
  width: 100px;
}

#GameGet {
  height: 30px;
  font-size: 13px;
  width: 75px;
  background-color: rgb(76, 135, 245);
  color: white;
}
#GameSet {
  background-color: gray;
  font-size: 13px;
  height: 30px;
  width: 75px;
}

#GameGet:hover {
  background-color: rgb(13, 88, 201);
  color: white;
}
#GamePlay:hover {
  background-color: rgb(13, 88, 201);
  color: white;
}
#GameSolve:hover,
#GameSet:hover {
  border-color: mediumaquamarine;
  background-color: green;
  color: white;
}
#GamePlus:hover,
#GameMinus:hover {
  background-color: mediumaquamarine;
  color: white;
}

#sampleButtonDescription {
  color: maroon;
  display: none;
}

#sampleButton {
  text-align: left;
}

#sampleB {
  color: maroon;
}

#sampleButtonSolve {
  text-align: center;
  display: none;
}

#sampleBS {
  color: green;
}

.wrong {
  color: red;
}

#setB,
#playB,
#drawB {
  display: none;
  background: black;
  color: white;
  padding: 2px;
  border-top: 0px solid black;
  border-bottom: 10px solid green;
  border-left: 0px solid black;
  border-right: 0px solid black;
}

.size2 {
  font-size: 30px;
  color: white;
  background: black;
  padding: 0px;
  border-top: 0px solid black;
  border-bottom: 10px solid green;
  border-left: 0px solid black;
  border-right: 0px solid black;
}

#setPlay {
  text-align: center;
}

#sizes:hover #tooltipSizes {
  visibility: visible;
}

#tooltipSizes {
  position: absolute;
  visibility: hidden;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 20px;
  text-align: center;
  width: fit-content;
}

#setPlay:hover #tooltipDigits {
  visibility: visible;
  position: absolute;
}

#setPlay #tooltipDigits {
  visibility: hidden;
  position: absolute;
}

#clearButtons {
  text-align: center;
}

#helpSolve:hover {
  background-color: red;
  color: white;
}

#helpSolve {
  text-align: center;
  padding-left: 5px;
  margin-bottom: 5px;
  width: 80px;
  height: 26px;
  border-radius: 25px;
}

#checkLink:hover {
  background-color: orange;
  color: white;
}

#checkLink {
  background-color: orange;
  text-align: center;
  padding-left: 5px;
  margin-bottom: 5px;
  width: 46px;
  height: 26px;
  border-radius: 25px;
}

#clearB,
#clearI {
  text-align: center;
  padding-left: 10px;
  width: 63px;
  height: 42px;
  border-radius: 12px;
}

#clearD,
#fillD,
#clearG {
  margin-top: 2px;
  text-align: center;
  padding-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 42px;
}

#clearB:hover,
#clearI:hover {
  background-color: rgb(56, 111, 182);
  border-color: rgb(0, 41, 128);
  color: white;
}

#clearD:hover,
#fillD:hover {
  background-color: green;
  border-color: lightgreen;
  color: white;
}

#clearG:hover {
  background-color: green;
  color: white;
}

#clearG {
  background-color: green;
  border-color: green;
  color: white;
}

.bridgeLen{
  width: 40px;
  border: 0px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 12px;
  
}
#bridgeLength{
  width: 40px;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: white;

}
#makeBr {
  color: white;
  background-color: rgb(43, 5, 43);
  border-color: black;
  margin-top: 5px;
  margin-bottom: 2px;
  text-align: center;
  padding-left: 5px;
  width: 154px;
  height: 30px;
  border-top-right-radius: 31px;
  border-bottom-left-radius: 16px;
}



#makeB:hover {
  background-color: rgba(133, 32, 133, 0.726);
  color: white;
}
#makeB {
  color: white;
  background-color: darkmagenta;
  margin-top: 10px;
  text-align: center;
  padding-left: 5px;
  width: 154px;
  height: 30px;
  border-top-left-radius: 31px;
  border-bottom-right-radius: 16px;
}

#unlockSize1,
#unlockSize2,
#unlockSize3 {
  border-color: green;
  border-radius: 7px;
  background-color: gray;
  color: white;
}

#navigation {
  text-align: center;
}

#ThemeChoose {
  background-color: black;
  color: white;
  border-radius: 20px;
}
#ThemeMinus,
#ThemePlus {
  background-color: gray;
  font-weight: bolder;

  width: 50px;
  height: 30px;
  width: 50px;
}
#ThemeNumber {
  width: 50px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: silver;
}
#ThemeLoad {
  height: 30px;
  width: 75px;
  background-color: rgb(40, 10, 177);
  color: white;
}

#GetTheme,
#SetTheme {
  background-color: gray;
  font-size: 12px;
  height: 30px;
  width: 75px;
  color: black;
  margin-bottom: 10px;
}
#SetTheme:hover {
  background-color: green;
  color: white;
}
#GetTheme:hover {
  background-color: blue;
  color: white;
}
#ThemeDetails {
  background-color: gray;
  height: 30px;
  width: 75px;
}
#ThemeLoad:hover {
  background-color: rgb(14, 62, 194);
  color: white;
}

#ThemeDetails:hover {
  border-color: rgb(205, 102, 174);
  background-color: rgb(128, 0, 64);
  color: white;
}
#ThemePlus:hover,
#ThemeMinus:hover {
  background-color: rgb(39, 105, 226);
  color: white;
}
#themes {
  text-align: center;
  font-size: 0px;
}

#boar {
  background-color: red;
  width: 28px;
  height: 28px;
}

#back {
  width: 28px;
  height: 28px;
  background-color: pink;
}
