.row{	
	width: 453px;
}

#mostq{
	background: white;
	margin-left: 10px;
	border: white solid 10px;
	height:  453px;
	width: 453px;
}

.row{	
	height: 28px;
}

.p{
	float: left;
}


.p, .m0, .m1, .m2, .m3, .m4, .in, .ing, .inl{
	width: 28px;
	height: 28px;
}

.in, .ing, .inl{
	cursor: auto;
	color: red;
	font-weight: bolder;
	padding: 0px;
	border: 0px;
	text-align: center;
	font-size: 23px;
}

.inl:hover{
	background: white url(../images/circley.png);
}	

.in:hover{
	background: white url(../images/circler.png);
}	

.ing:hover{
	background: white url(../images/circlerg.png);
}	

.in{
	background: white url(../images/circle.png);
}

.ing{
	background: white url(../images/circleg.png);
}

.inl{
	background: white url(../images/circlel.png);
}

.m0:hover,.m1:hover,.m2:hover,.m3:hover,.m4:hover{
	border: 1px solid gray;
	height: 26px;
	width: 26px;
}

.m0,.m1,.m2,.m3,.m4{
	color: blue;
}

input{
	border: 0;
}

.m1{
	background: white url(../images/h1.png);
}

.m2{
	background: white url(../images/h2.png);	
}

.m3{
	background: white url(../images/v1.png);;
}

.m4{
	background: white url(../images/v2.png);;
}


/*
 ELSE
*/
.steps{
	cursor: pointer;
	font-size: 20px;
	color: silver;
	background: black;
	color: silver;
}

#steps{
	width: 600px;
	height: 45px;
	background: black;
	text-align: left;
	overflow: auto; 
}

#navLeft, #navRight{	
	cursor: pointer;
	font-size: 20px;
	color: yellow;
	padding: 0px 25px;
}

#navL, #navR{
	background: gray;
	border: 2px solid silver;
	cursor: pointer;
	color: yellow;
	font-weight: bolder;
	padding: 2px 10px;
}

#navA, #navZ, #nav0{
	cursor: pointer;
	font-size: 20px;
	color: white;
}


#innav{
	background: black;
	color: #33CCFF;
	font-weight: bolder;
	text-align: center;
	border: 0px;
	border-bottom: 2px ridge blue;
	padding: 0px;
	width: 100px;
	font-size: 21px;
}


#timer{
	display:none;
}


#demoBoardStateButton, #demoInputsStateButton, #demoAllStateButton{
	display: none;
	padding: 0px;	
	color: red;
	float: left;
}

.imgB{
	width: 28px;
	height: 28px;
	border: 1px solid white;
	float: left;
}

.butB{
	padding: 2px;
	float: left;
	height: 30px;
}


/*
 MINI
*/
.clearBoth{
	clear: both;
}